.card {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  border-radius: 0.35rem;
  border: none;
  -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
}
