$font-primary: 'Ubuntu', cursive;
$font-secondary: 'Fira Code', sans-serif;
// $font-primary: 'Fira Code', sans-serif;
// $font-secondary: 'Cascadia Code', cursive;
// $font-primary: "Comfortaa", cursive;
// $font-secondary: "Muli", sans-serif;

// ---<> ----
@import 'mixin/_colors.scss';
@import 'mixin/var.scss';

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-secondary;
}

main {
  width: 85vw;
  margin: 0 auto;
  padding-top: 45px;
  background: color(palette-dark);

  #kontakt {
    width: 75vw;
    // margin: 0 auto;

    .kontakt-information {
      width: 65vw;
      margin: 0 auto;

      .kontakt-section {
        margin-top: 40px;
      }

      h4 {
        width: 63vw;
        margin: 0 auto;
        font-weight: 500;
      }
    }

    h1 {
      font-family: $font-secondary;
      font-weight: 700;
      text-decoration: underline;
    }

    .kontakt-ul {
      list-style: none;
      width: 45vw;
      margin: 0 auto;

      .kontakt-list {
        display: -webkit-inline-flex;
        display: -ms-inline-flex;
        display: inline-flex;
        width: 100%;

        & div {
          width: 50%;
        }
      }

      .kontakt-list--head {
        padding: 15px;
        h3 {
          font-family: $font-primary;
          font-size: 1.1em;
          font-weight: 700;
          text-decoration: underline;
          // text-align: right;
        }
      }
      .kontakt-list--body {
        padding: 15px;

        h5 {
          font-family: $font-primary;
          font-size: 0.8em;
          font-weight: 700;
          // text-align: left;
        }
      }
    }
  }

  #home {
    width: 85vw;
    height: 345px;
    margin: 0 auto;
  }
}

.home-hero {
  width: 100vw;
  // width: 85vw;
  margin: 0 auto;

  .home-hero-bg {
    background-image: url('/assets/images/bg-random-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-clip: ;
    width: 100vw;
    height: 550px;

    .home-hero-header {
      h1 {
        color: #fff;
        font-family: $font-secondary;
        // letter-spacing: 0.02px;
        font-size: 2.3em;
        text-align: center;
        // line-height: 375px;
        // margin-top: 135px;
        margin: 135px 0 35px;
      }

      h3 {
        color: #fff;
        text-align: center;
        // line-height: 30px;
      }

      h4 {
        color: #fff;
        font-family: $font-secondary;
        // letter-spacing: 0.02px;
        font-size: 1em;
        text-align: center;
        // line-height: 375px;
        margin: 0 auto;
      }
    }
  }

  .home-hero-btn-container {
    position: relative;
    top: 50px;
  }
}

#account {
  width: 100vw;

  .register-formular {
    // display: block;
    margin: 0 auto;
    text-align: center;
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 1.15em;
    letter-spacing: -1px;
    position: absolute;
    top: 30vh;
    padding: 0;
    margin: 0;
    text-align: center;
    transform: translate(calc(100vw / 3));
    // left: auto;
    // right: auto;
    // width: 65vw;

    background-color: #212121;
    border-radius: 1.25em;
    color: #fff;
    padding: 3.25em 3.1em;
  }
  .register-input {
    margin: 20px 0 40px 0;
    font-family: $font-primary;
    font-size: 1.1em;

    input {
      font-family: $font-secondary;
      font-weight: normal;
      // border: 0;
      border-radius: 25em;
      padding: 3px 15px;
    }
    label {
      display: block;
      margin: 8px 0;
    }
  }
}

// end
@import 'mixin/_navbar.scss';
@import 'mixin/_buttons.scss';
@import 'mixin/_cards.scss';
